.wallDimensionsForm {
    margin: auto;
    margin-bottom: 24px;
    width: 300px;
}

.wallDimensionsForm * {
    height: 30px;
    margin-bottom: 8px;
}

#wall {
    background: url("stud.svg") repeat left bottom;
    position: relative;
    margin: auto;
}

.member {
    background-color: white;
    border: 1px solid grey;
    position: absolute;
}

.member--rightStud {
    width: 7px;
    height: calc(100% - 24px);
    right: -1px;
    top: 15px;
}

.member--rightStud--female {
    right: 16px;
}

.member--leftStud {
    width: 7px;
    height: calc(100% - 24px);
    left: -1px;
    top: 15px;
}

.member--leftStud--female {
    left: 16px;
}

.member--chaining {
    height: 7px;
    width: 100%;
    left: -1px;
    top: -1px;
}

.member--topPlate {
    height: 7px;
    width: 100%;
    left: -1px;
    top: 7px;
}

.member--bottomPlate {
    height: 7px;
    right: -1px;
    left: -1px;
    bottom: -1px;
}

.member--bottomPlate--leftFemale {
    left: 16px;
}

.member--bottomPlate--rightFemale {
    right: 16px;
}

.dimension {
    display: flex;
    position: absolute;
} 

.dimension--wallHeight {
    height: 100%;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    right: -20px;
    width: 10px;
}

.dimension--wallHeight div {
    flex-direction: column;
    justify-content: center;
    display: flex;
    border-left: 1px solid grey;
    margin-left: 5px;
    padding-left: 10px;
}

.dimension--wallWidth {
    width: 100%;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    bottom: -20px;
    height: 10px;
}

.dimension--wallWidth div {
    justify-content: center;
    display: flex;
    border-top: 1px solid grey;
    width: 100%;
    margin-top: 5px;
    padding-top: 5px;
}